# Ignore everything
*
# But not directories (so we can traverse into them)
!*/

# and not docker stuff
!docker-compose.yml
!Dockerfile

# and for claude
!README.md
!CLAUDE.md
!*TASKS.md

# don't ignore .gitignore and gitlab-ci
!.gitignore
!.gitlab-ci.yml
!deploy.sh

# Excluding other files will be done in the files directory itself!
