stages:
  - trigger

router:
  stage: trigger
  trigger:
    include: services/router/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/router/**/*
      when: always
    - when: never

prompt_composer:
  stage: trigger
  trigger:
    include: services/prompt_composer/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/prompt_composer/**/*
      when: always
    - when: never

admin:
  stage: trigger
  trigger:
    include: services/admin/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/admin/**/*
      when: always
    - when: never

facebook_connect:
  stage: trigger
  trigger:
    include: services/facebook_connect/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/facebook_connect/**/*
      when: always
    - when: never

facebook_dispatcher:
  stage: trigger
  trigger:
    include: services/facebook_dispatcher/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/facebook_dispatcher/**/*
      when: always
    - when: never
