stages:
  - build

.build-service:
  image: docker:24.0.5
  stage: build
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - cd services/$SERVICE_NAME/
  script:
    - docker build --target production -t "$CI_REGISTRY_IMAGE/$SERVICE_NAME:$CI_COMMIT_TAG" -t "$CI_REGISTRY_IMAGE/$SERVICE_NAME:latest" .
    - docker push "$CI_REGISTRY_IMAGE/$SERVICE_NAME:$CI_COMMIT_TAG"
    - docker push "$CI_REGISTRY_IMAGE/$SERVICE_NAME:latest"

build:router:
  extends: .build-service
  variables:
    SERVICE_NAME: router
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes: [services/router/**/*]

build:admin:
  extends: .build-service
  variables:
    SERVICE_NAME: admin
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes: [services/admin/**/*]

build:prompt_composer:
  extends: .build-service
  variables:
    SERVICE_NAME: prompt_composer
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes: [services/prompt_composer/**/*]

build:facebook_dispatcher:
  extends: .build-service
  variables:
    SERVICE_NAME: facebook_dispatcher
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes: [services/facebook_dispatcher/**/*]

build:facebook_comments:
  extends: .build-service
  variables:
    SERVICE_NAME: facebook_comments
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes: [services/facebook_comments/**/*]

build:facebook_dm:
  extends: .build-service
  variables:
    SERVICE_NAME: facebook_dm
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes: [services/facebook_dm/**/*]

build:site:
  extends: .build-service
  variables:
    SERVICE_NAME: site
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes: [services/site/**/*]
