stages:
  - build

.build-service:
  image: docker:24.0.5
  stage: build
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - |
      PREV_TAG=$(git describe --abbrev=0 --tags ${CI_COMMIT_TAG}^ 2>/dev/null || echo "")
      if [ -n "$PREV_TAG" ]; then
        CHANGES=$(git diff --name-only $PREV_TAG $CI_COMMIT_TAG -- services/$SERVICE_NAME/)
        if [ -z "$CHANGES" ]; then
          echo "No changes in services/$SERVICE_NAME/ since $PREV_TAG, skipping build"
          exit 0
        fi
        echo "Changes detected in services/$SERVICE_NAME/ since $PREV_TAG"
      fi
    - cd services/$SERVICE_NAME/
    - docker build --target production -t "$CI_REGISTRY_IMAGE/$SERVICE_NAME:$CI_COMMIT_TAG" -t "$CI_REGISTRY_IMAGE/$SERVICE_NAME:latest" .
    - docker push "$CI_REGISTRY_IMAGE/$SERVICE_NAME:$CI_COMMIT_TAG"
    - docker push "$CI_REGISTRY_IMAGE/$SERVICE_NAME:latest"

build:router:
  extends: .build-service
  variables:
    SERVICE_NAME: router
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

build:admin:
  extends: .build-service
  variables:
    SERVICE_NAME: admin
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

build:prompt_composer:
  extends: .build-service
  variables:
    SERVICE_NAME: prompt_composer
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

build:facebook_dispatcher:
  extends: .build-service
  variables:
    SERVICE_NAME: facebook_dispatcher
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

build:facebook_comments:
  extends: .build-service
  variables:
    SERVICE_NAME: facebook_comments
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

build:facebook_dm:
  extends: .build-service
  variables:
    SERVICE_NAME: facebook_dm
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

build:facebook_signup:
  extends: .build-service
  variables:
    SERVICE_NAME: facebook_signup
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
