stages:
  - trigger

router:
  stage: trigger
  trigger:
    include: services/router/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/router/**/*
      when: always
    - when: never

prompt_composer:
  stage: trigger
  trigger:
    include: services/prompt_composer/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/prompt_composer/**/*
      when: always
    - when: never

admin:
  stage: trigger
  trigger:
    include: services/admin/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/admin/**/*
      when: always
    - when: never

facebook_comments:
  stage: trigger
  trigger:
    include: services/facebook_comments/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/facebook_comments/**/*
      when: always
    - when: never

facebook_dispatcher:
  stage: trigger
  trigger:
    include: services/facebook_dispatcher/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/facebook_dispatcher/**/*
      when: always
    - when: never

facebook_dm:
  stage: trigger
  trigger:
    include: services/facebook_dm/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/facebook_dm/**/*
      when: always
    - when: never

site:
  stage: trigger
  trigger:
    include: services/site/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/site/**/*
      when: always
    - when: never
