services:
  prompt-composer:
    image: registry.gitlab.com/rny3/brande/prompt_composer:latest
    networks:
      - orielbaz_network
    secrets:
      - llm_api_key
    volumes:
      - ./shared_data/prompt/:/app/data

  admin:
    image: registry.gitlab.com/rny3/brande/admin:latest
    networks:
      - orielbaz_network
    secrets:
      - google_strategy
      - session_config
    volumes:
      - ./shared_data/:/app/data:ro
      - admin_sessions:/app/sessions

volumes:
  admin_sessions:

networks:
  orielbaz_network:
    name: orielbaz_network

secrets:
  llm_api_key:
    file: ./secrets/gemini_api_key.secret
  google_strategy:
    file: ./secrets/google_strategy.secret
  session_config:
    file: ./secrets/session_config.secret
