services:

  site:
    image: registry.gitlab.com/rny3/brande/site:latest
    networks: [client_network]
    volumes: [./public:/srv]

  prompt-composer:
    image: registry.gitlab.com/rny3/brande/prompt_composer:v0.0.7
    networks: [client_network]
    secrets: [gemini_key_1, gemini_key_2, groq_key_1, groq_key_2]
    volumes: [./data/:/app/data, prompt_log:/app/prompt_log]

  admin:
    image: registry.gitlab.com/rny3/brande/admin:v0.0.5
    networks: [client_network]
    secrets: [google_strategy, session_config, authorized_emails]
    volumes: [admin_sessions:/app/sessions]

  facebook-comments-786999964506727:
    image: registry.gitlab.com/rny3/brande/facebook_comments:latest
    networks: [client_network]
    secrets: [fb_page_access_token]
    environment: [FACEBOOK_API_URL=https://graph.facebook.com/v24.0/]

  facebook-dm-786999964506727:
    image: registry.gitlab.com/rny3/brande/facebook_dm:latest
    networks: [client_network]
    secrets: [fb_page_access_token]
    environment: [FACEBOOK_API_URL=https://graph.facebook.com/v24.0/]

volumes:
  admin_sessions:
  prompt_log:

networks:
  client_network: {name: drlipokatz_network}

secrets:
  google_strategy:      {file: ./secrets/google_strategy.secret}
  session_config:       {file: ./secrets/session_config.secret}
  authorized_emails:    {file: ./secrets/authorized_emails.json}
  gemini_key_1:         {file: ./secrets/gemini_key_1.secret}
  gemini_key_2:         {file: ./secrets/gemini_key_2.secret}
  groq_key_1:           {file: ./secrets/groq_key_1.secret}
  groq_key_2:           {file: ./secrets/groq_key_2.secret}
  fb_page_access_token: {file: ./secrets/fb_page_access_token.secret}
