:80 {
	handle_path /admin/* {
		reverse_proxy admin:9876 {
			header_up X-Forwarded-Proto {header.X-Forwarded-Proto}
		}
	}

	handle /widget-api/* {
		uri strip_prefix /widget-api
		reverse_proxy prompt-composer:4321
	}

	handle {
		root * /site
		file_server
	}
}
