:80 {
	handle_path /admin/* {
		reverse_proxy admin:9876 {
			header_up X-Forwarded-Proto {header.X-Forwarded-Proto}
		}
	}

	handle /site/* {
		uri strip_prefix /site
		reverse_proxy prompt-composer:4321
	}

	handle_path /facebook/dm {
		reverse_proxy facebook-dm:3210
	}

	handle_path /facebook/comments {
		reverse_proxy facebook-comments:3210
	}

	handle_path /mock-facebook/* {
		reverse_proxy mock-facebook:3210
	}

	handle {
		root * /site
		file_server
	}
}
