services:

  prompt-composer:
    image: registry.gitlab.com/rny3/brande/prompt_composer:v0.0.1
    networks: [client_network]
    secrets: [llm_api_key]
    volumes: [./data/:/app/data, prompt_log:/app/prompt_log]
    environment:
      - LLM=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent

  admin:
    image: registry.gitlab.com/rny3/brande/admin:v0.0.2
    networks: [client_network]
    secrets: [google_strategy, session_config, authorized_emails]
    volumes: [admin_sessions:/app/sessions]

  facebook-comments-786999964506727:
    image: registry.gitlab.com/rny3/brande/facebook_comments:latest
    networks: [client_network]
    secrets: [fb_page_access_token]
    environment: [FACEBOOK_API_URL=https://graph.facebook.com/v24.0/]

  facebook-dm-786999964506727:
    image: registry.gitlab.com/rny3/brande/facebook_dm:latest
    networks: [client_network]
    secrets: [fb_page_access_token]
    environment: [FACEBOOK_API_URL=https://graph.facebook.com/v24.0/]

  facebook-signup:
    image: registry.gitlab.com/rny3/brande/facebook_signup:latest
    networks: [client_network]
    secrets: [fb_global_app_id, fb_global_app_secret]

volumes:
  admin_sessions:
  prompt_log:

networks:
  client_network:
    name: drlipokatz_network

secrets:
  llm_api_key:
    file: ./secrets/gemini_api_key.secret
  google_strategy:
    file: ./secrets/google_strategy.secret
  session_config:
    file: ./secrets/session_config.secret
  fb_page_access_token:
    file: ./secrets/fb_page_access_token.secret
  authorized_emails:
    file: ./secrets/authorized_emails.json
  fb_global_app_id:
    file: ./secrets/fb_global_app_id.secret
  fb_global_app_secret:
    file: ./secrets/fb_global_app_secret.secret
