http://localhost,
http://qabu.mooo.com,
http://brandelicious.mooo.com {
	handle_path /facebook-page-signup/* {
		reverse_proxy facebook-signup:8558
	}

	handle {
		root * /srv
		try_files {path} {path}/index.html
		file_server
	}
}
