services:

  prompt-composer:
    image: registry.gitlab.com/rny3/brande/prompt_composer:latest
    networks: [client_network]
    secrets: [llm_api_key]
    volumes: [./data/:/app/data, prompt_log:/app/prompt_log]
    environment:
      - LLM=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent

  admin:
    image: registry.gitlab.com/rny3/brande/admin:latest
    networks: [client_network]
    secrets: [google_strategy, session_config, authorized_emails]
    volumes: [admin_sessions:/app/sessions]

  facebook-comments-808626769002262:
    image: registry.gitlab.com/rny3/brande/facebook_comments:latest
    networks: [client_network]
    secrets: [fb_page_access_token]
    environment: [FACEBOOK_API_URL=https://graph.facebook.com/v24.0/]

  facebook-dm-808626769002262:
    image: registry.gitlab.com/rny3/brande/facebook_dm:latest
    networks: [client_network]
    secrets: [fb_page_access_token]
    environment: [FACEBOOK_API_URL=https://graph.facebook.com/v24.0/]

volumes:
  admin_sessions:
  prompt_log:

networks:
  client_network:
    name: craftkidstoys_network

secrets:
  llm_api_key:
    file: ./secrets/gemini_api_key.secret
  google_strategy:
    file: ./secrets/google_strategy.secret
  session_config:
    file: ./secrets/session_config.secret
  fb_page_access_token:
    file: ./secrets/fb_page_access_token.secret
  authorized_emails:
    file: ./secrets/authorized_emails.json
